#Supabase (get from subase.com -> Project settings -> API)
VITE_SUPABASE_URL = postgresql://postgres:foJrhq5yraXgbQjJ@db.atlzvvxcmobabcyfvyhj.supabase.co:5432/postgres
VITE_SUPABASE_ANNON_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF0bHp2dnhjbW9iYWJjeWZ2eWhqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQwNzg2MDcsImV4cCI6MjA4OTY1NDYwN30.vSQTuJJg5oAASX917mHcifQyOIktFmb9qODKhdvEc-Y

#Backend API URL 
VITE_API_URL = http://localhost:8000

#Cloudinary (for direct frontend uploads)
VITE_CLOUDINARY_CLOUD_NAME=syncstream
VITE_CLOUDINARY_UPLOAD_PRESET=syncstream_unsigned